<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head></tr>
<body>
<table style="width:100%">
    <tr>
        <th></th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>A</td>
        <td>B</td>
        <td>50</td>
    </tr>
    <tr>
        <td>B</td>
        <td>J</td>
        <td>94</td>

</table>
<video width="320" height="240" controls>
    <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/movie.mp4" type="video/ogg">

</video>
</body>
</html>